.color {
  display: flex;
  background-color: rgb(243, 203, 72);
  /* margin-top: 15px; */
  position: relative;
}

.card {
  display: flex;
  height: 250px;
  width: 250px;
  /* border-radius: 50%; */
  margin: 0 0px;
  position: absolute;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  box-shadow: -6px -6px 15px -1px rgba(0, 0, 0, 0.75);
}
