// .ul {
//   list-style: none;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   font-size: 1rem;
//   padding-left: 20px;
//   // margin: 5px 0 !important;
// }
// .inputs {
//   margin-right: 8px;
//   color: blue;
// }
// .cuisines {
//   height: 200px;
//   overflow: scroll;
//   overflow-x: hidden;
//   padding-left: 50px;
//   list-style: none;
//   // overflow-y: hidden;
// }

// .cuisines li:first {
//   margin-top: 1rem;
// }

// li {
//   margin: 0.5rem 0;
//   color: black;
//   /* background-color: blue; */
//   text-decoration: none;
//   font-size: 1rem;
// }

// p {
//   font-size: 1.2rem;
//   margin-left: 25px;
// }

// .filter[type="text"] {
//   padding: 1px;
//   // font-size: 1px;
//   // border: 1px solid grey;
//   // text-align: center;
//   width: 44%;
//   background: #f1f1f1;
//   border-radius: 5px;
//   margin-left: 60px;
//   font-size: 14px;
// }

// .filterBottom {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 10px;
// }

// .filterBottom button {
//   width: 25%;
//   text-align: center;
//   margin: 0 5px;
// }
// .p {
//   color: navy;
//   font-weight: 500;
// }

.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  padding-left: 20px;
}

.inputs {
  margin-right: 8px;
  color: blue;
}

.cuisines {
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 50px;
  list-style: none;
}
.cuisines li {
  margin: 0.5rem 0;
}
.ul li {
  margin: 0.5rem 0;
}
.cuisines li:first {
  margin-top: 1rem;
}

li {
  // margin: 0.5rem 0;
  // margin: 0px !important;
  color: black;
  /* background-color: blue; */
  text-decoration: none;
  font-size: 1rem;
}

p {
  font-size: 1.2rem;
  margin-left: 25px;
}

.filter[type="text"] {
  padding: 1px;
  width: 44%;
  background: #f1f1f1;
  border-radius: 5px;
  margin-left: 60px;
  font-size: 14px;
}

.filterBottom {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.filterBottom button {
  width: 25%;
  text-align: center;
  margin: 0 10px;
}

.p {
  color: navy;
  font-weight: 500;
}
