.main_container {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: lightcoral;
  align-items: center;
  justify-content: space-between;
}
.logo {
  cursor: pointer;
  width: 74%;
  margin: 0px 10px;
}
.Navigation_list {
  display: flex;
  list-style: none;
  width: 26%;
  justify-content: space-around;
  cursor: pointer;
}
li :hover {
  color: whitesmoke;
}
